.navbar {
    display: flex;
    padding: 20px clamp(20px, 3.2dvw, 3.2dvw);
    transition: background-color 0.5s ease;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    justify-content: space-between;
    width: -webkit-fill-available;
    position: fixed;
    z-index: 2;
    top: 0;

    &.fill-navbar {
        background-color: var(--background-color);
    }

    @media (max-width: 800px) {
        background-color: #1b1b1b !important;
        transition: all 0.5s ease;
        background-image: none;
        top: inherit;
        bottom: 0;
    }

    .left-side {
        display: flex;
        align-items: center;

        .logo {
            width: 93px;
            margin-right: clamp(15px, 3dvw, 35px);
        }

        a {
            color: white;
            text-decoration: none;
            margin: 0px 10px;
            font-size: 14px;

            &.active {
                font-weight: bold;
            }

            &:hover {
                color: rgba(255, 255, 255, 0.761);
            }
        }
    }

    .right-side {
        display: flex;
        align-items: center;
        gap: clamp(15px, 2dvw, 2dvw);
        color: white;
        font-size: 24px;

        button {
            margin: 0;
            background: transparent;
            border: none;
            color: white;
            padding: 0;
            font-size: 24px;
            cursor: pointer;
            display: flex;
        }
    }
}