.carousel-container {
    margin-bottom: 2.5vw;
    position: relative;
    z-index: 1;

    h3 {
        cursor: pointer;
        display: flex;
        width: fit-content;
        position: relative;
        align-items: center;
        margin-bottom: 0.5em;
        margin-left: clamp(15px, 3.2vw, 3.2vw);
        line-height: clamp(16px, 1.4vw, 28px);
        font-size: clamp(16px, 1.4vw, 28px);
        font-weight: 500;
        color: white;
        
        &:hover span {
            opacity: 1;
            font-size: .9vw;
            margin-left: 10px;
        }
        
        span, svg {
            opacity: 0;
            margin-top: 5px;
            color: #54b9c5;
            @media (max-width: 1024px) {
                display: none;
            }
        }

        span {
            font-size: 0px;
            margin-left: 0px;
            transition: all ease 0.5s;
        }

        svg {
            font-size: 1.3vw;
        }
    }

    &:hover h3 svg {
        opacity: 1;
    }

    .left-button,
    .right-button {
        position: absolute;
        width: 3vw;
        height: calc(100% - 2.5vw);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
        font-size: 2vw;
        cursor: pointer;
        transition: all 0.1s ease;
        background: #1414148a;
        border-radius: 4px;

        @media (max-width: 1024px) {
            display: none;
        }

        &:hover {
            font-size: 2.4vw;
            background: #141414c9;
        }
    }

    .left-button {
        left: 0;
    }
    
    .right-button {
        right: 0;
    }

    &:hover {
        .left-button,
        .right-button {
            color: white;
        }
    }

    .carousel {
        padding: 0px clamp(15px, 3.2vw, 3.2vw);
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        gap: 10px;

        &::-webkit-scrollbar {
            display: none;
        }

        .carousel-item {
            position: relative;
            cursor: pointer;

            img {
                width: clamp(175px, 15vw, 341px);
                aspect-ratio: 16/9;
                border-radius: 4px;
                transition: scale 0.1s ease;

                &:hover {
                    scale: 0.95;
                }
            }
        }
    }
}