.carousel-container {
    margin-bottom: 2.5dvw;
    position: relative;
    z-index: 1;

    h3 {
        display: flex;
        color: white;
        cursor: pointer;
        font-weight: 500;
        width: fit-content;
        position: relative;
        align-items: center;
        margin-bottom: 0.5em;
        font-size: clamp(16px, 1.4dvw, 28px);
        line-height: clamp(16px, 1.4dvw, 28px);
        margin-left: clamp(15px, 3.2dvw, 3.2dvw);
        
        span, svg {
            opacity: 0;
            margin-top: 5px;
            color: #54b9c5;
            @media (max-width: 1024px) {
                display: none;
            }
        }

        svg {
            font-size: 1.3dvw;
        }

        span {
            font-size: 0px;
            transition: all ease 0.3s;
        }

        &:hover span {
            opacity: 1;
            font-size: .9dvw;
            margin-left: 10px;
        }
    }

    &:hover h3 svg {
        opacity: 1;
    }

    .left-button,
    .right-button {
        cursor: pointer;
        width: 3.2dvw;
        height: calc(100% - 2.5dvw);
        transition: all 0.1s ease;
        color: transparent;
        font-size: 2dvw;

        &:hover {
            font-size: 2.4dvw;
        }

        z-index: 1;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    .left-button {
        left: 0;
        background: linear-gradient(90deg, rgba(20, 20, 20, 0.7) 10%, rgba(20, 20, 20, 0.6) 50%, transparent);
        &:hover {
            background: linear-gradient(90deg, rgba(20, 20, 20, 0.8) 10%, rgba(20, 20, 20, 0.7) 50%, transparent);
        }
    }
    
    .right-button {
        right: 0;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.6) 50%, transparent);
        &:hover {
            background: linear-gradient(270deg, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.7) 50%, transparent);
        }
    }

    &:hover {
        .left-button,
        .right-button {
            color: white;
        }
    }

    .carousel {
        padding: 0px clamp(15px, 3.2dvw, 3.2dvw);
        scroll-behavior: smooth;
        position: relative;
        overflow-x: scroll;
        display: flex;
        gap: 10px;
        
        @media (max-width: 1024px) {
            margin-left: clamp(15px, 3.2dvw, 3.2dvw);
            scroll-snap-type: x proximity;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .carousel-item {
            scroll-snap-align: start;
            position: relative;
            cursor: pointer;

            img {
                width: clamp(175px, 15dvw, 341px);
                transition: scale 0.1s ease;
                border-radius: 4px;
                aspect-ratio: 16/9;
                &:hover {
                    scale: 0.95;
                }
            }
        }
    }
}