.carousel-container {
    margin-bottom: 2.5vw;
    position: relative;
    z-index: 1;
}

h3 {
    margin-left: max(15px, 3.2vw);
    margin-bottom: 0.5em;
    font-weight: 500;
    font-size: clamp(15px, 1.4vw, 28px);
    color: white;
    position: relative;
}

.carousel {
    padding: 0px max(15px, 3.2vw);
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 10px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    position: relative;
    cursor: pointer;
}

.carousel-item img {
    width: clamp(200px, 15vw, 341px);
    aspect-ratio: 16/9;
    border-radius: 4px;
    transition: scale 0.1s ease;
}

.carousel-item img:hover {
    scale: 0.95;
}

.left-button,
.right-button {
    position: absolute;
    width: 3vw;
    height: calc(100% - 2.5vw);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    font-size: 2vw;
    cursor: pointer;
    transition: all 0.1s ease;
    background: #1414148a;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .left-button,
    .right-button {
        display: none;
    }
}

.left-button {
    left: 0;
}

.right-button {
    right: 0;
}

.carousel-container:hover .left-button,
.carousel-container:hover .right-button {
    color: white;
}

.left-button:hover,
.right-button:hover {
    font-size: 2.4vw;
    background: #141414c9;
}